.bd-example
    text-align: center

.modal-dialog
    max-width: 608px
    display:none
        
.img-tile
    margin: 5px 
    border: 1px solid #ccc
    float: left
    width: 180px
    
.modal-content
    
.footerThumb
    max-width: 130px
    cursor: pointer
    padding: 5px


.modalImg
    float: left

.modalImg img
    display: block
    width: 100%

.modalImg .btn-secondary 
    background-color:  !important
    color: #fff !important
