.modal-body


.modal-dialog
    max-width: 608px
    display:none

.modalImg
    float: left

.modalImg img
    display: block
    width: 100%

.modal-content .close 
    position: relative
    right: 0px
    color: white

.modalImg .btn-secondary 
    background-color:  !important
    color: #fff !important
