@import '~sass/modules/_mixins.sass'
@import '~sass/modules/_variables.sass'

.modal-body


.modal-dialog
    max-width: 608px
    display:none

.modalImg
    float: left

.modalImg img
    display: block
    width: 100%

.modal-content .close 
    position: relative
    right: 0px
    color: white

.modalImg .btn-secondary 
    background-color:  !important
    color: #fff !important


.carousel-control-prev, .carousel-control-next a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover 
    background-color: #000000

.carousel-control-prev, .carousel-control-next 
    width: 8%

.carousel-thumbnails .carousel-indicators img
    max-width: 100%
    height: auto
    @include breakpoint(md)
    max-width: auto
    height: auto

.carousel-thumbnails .carousel-indicators li 
    height: auto
    width: auto
    border: 2px solid
    border-radius: 2px
    opacity: 0.5
    background-color: rgba(255, 255, 255, 0) !important
    margin-bottom: -10px
    @include breakpoint(md)
        height: auto
        width: auto
        border: 2px solid
        border-radius: 2px
        opacity: 0.5
        background-color: rgba(255, 255, 255, 0) !important
        margin-bottom: -30px
     
.btn-danger 
    padding: 0.50rem 0.90rem

.carousel-thumbnails .carousel-indicators .active 
    opacity: 1
    border: 2px solid
    
.modal-header 
    justify-content: flex-end
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: end
    -ms-flex-align: end
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    border: none
    padding: 0

.modal-footer 
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: start
    -ms-flex-pack: start
    justify-content: flex-start
    padding: 0
    border: none


.modal-footer > :not(:first-child)
    margin-left: 22.25rem
